* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerPrimario {
  width: 100%;
  height: 500px;
}

h1 {
  text-align: center;
  font-size: 50px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 3px solid black;
  /* margin-left: 10px; */
}

.logoGoats {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  margin: 10px;
}

.boton-inicio {
  text-align: right;
  font-size: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

.nabInd {
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 3px solid black;
}

.nabCon {
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 3px solid black;
}

.nabQui {
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 3px solid black;
}

.mainPrimario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "artImg secLore2 secLore2" "navLink secLore secLore";
}

.navLink {
  width: 300px;
}

.artImg {
  grid-area: artImg;
  margin-top: 200px;
  margin-left: 20%;
}
.artImg img {
  width: 400px;
  height: 400px;
  border-radius: 40%;
}

ul {
  list-style: none;
}

.secLore2 {
  grid-area: secLore2;
  padding: 20px 10px;
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  margin-top: 100px;
  margin-right: 20px;
}

.secLore {
  grid-area: secLore;
  padding: 20px 10px;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 20px;
  margin-right: 30px;
  text-align: right;
  height: fit-content;
}
.secLore p {
  font-size: 30px;
}

.secLore h2 {
  text-align: center;
  margin-bottom: 100px;
  padding: 10px;
  height: fit-content;
}

main {
  width: auto;
}
main .secLore2 div p {
  font-size: 22px;
  text-align: justify;
}
main .secLore h2 {
  font-size: 40px;
}
main .secLore p {
  text-align: justify;
  font-size: 22px;
}
main nav {
  grid-area: navLink;
  margin-left: 20%;
  width: 450px;
  height: fit-content;
}
main nav ul li .lionel-nadbar {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
main nav ul li .jon-nadbar {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
main nav ul li .michael-nadbar {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
main nav ul li .mohamed-nadbar {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
main nav ul li .tiger-nadbar {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
main nav ul li .nadal-nadbar {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.footerPrincipal {
  width: 100%;
  height: 780px;
}
.footerPrincipal div {
  width: auto;
  height: 300px;
  padding-top: 40px;
}
.footerPrincipal div h2 {
  margin: top 100px;
  border-radius: 20px;
  font-size: 30px;
  padding: 10px 10px;
  background-color: white;
  color: black;
  text-align: center;
}
.footerPrincipal nav {
  width: auto;
  height: 400px;
  font-size: 24px;
  height: 80px;
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
}
.footerPrincipal nav ul li {
  width: 150px;
  border-radius: 20px;
  padding: 3px;
  background-color: white;
  color: black;
  text-decoration: none;
}
.footerPrincipal nav ul li {
  width: 150px;
  border-radius: 20px;
  padding: 3px;
  background-color: white;
  color: black;
  text-decoration: none;
}
.footerPrincipal nav ul li {
  width: 150px;
  border-radius: 20px;
  padding: 3px;
  background-color: white;
  color: black;
  text-decoration: none;
}

@media (max-width: 1648px) {
  .mainPrimario {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "artImg secLore2" "navLink secLore" "navLink secLore";
  }
}
@media (max-width: 1200px) {
  .mainPrimario {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "artImg secLore2" "navLink navLink" "secLore secLore";
  }
}
@media (max-width: 982px) {
  .mainPrimario {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "artImg secLore2" "navLink navLink" "secLore secLore";
  }
}
@media (max-width: 768px) {
  .mainPrimario {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "artImg" "secLore2" "navLink " "secLore";
  }
}
@media (max-width: 320px) {
  .mainPrimario {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "artImg" "secLore2" "navLink " "secLore";
  }
}
.headerSecundario {
  width: 100%;
  height: 200px;
}
.headerSecundario div a {
  margin: 20PX 5px;
}

.mainSecundario {
  width: 100%;
  height: 2400px;
  font-size: 20px;
}
.mainSecundario div {
  width: 100%;
  height: 300px;
  text-align: center;
}
.mainSecundario div img {
  margin-top: 20px;
  width: 500px;
  height: 300px;
  border-radius: 8%;
}
.mainSecundario article {
  width: 100%;
  height: 500px;
}
.mainSecundario article h1 {
  padding: 10px;
  margin-top: 40px;
  font-size: 50px;
}
.mainSecundario article p {
  padding-top: 20px;
  font-size: 20px;
}
.mainSecundario .productos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 700px;
  width: 100%;
  height: 400px;
}
.mainSecundario .productos div h2 {
  background-color: white;
  width: 170px;
  height: 40p;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: 40px;
}
.mainSecundario .productos div .card {
  width: 400px;
  height: 520px;
  border: 3px solid black;
  border-radius: 20px;
  align-items: center;
}
.mainSecundario .productos div .card img {
  width: 50%;
  height: 50%;
}
.mainSecundario .productos div .card div h5 {
  padding: 20px;
  font-size: 30px;
}
.mainSecundario .productos div .card div p {
  text-align: justify;
}

.footerSecundario {
  width: 100%;
  height: 780px;
  text-align: center;
  padding-top: 100px;
}
.footerSecundario div {
  width: 100%;
  height: 200px;
}
.footerSecundario div h2 {
  font-size: 40px;
}
.footerSecundario nav {
  width: 100%;
  height: 200px;
}
.footerSecundario nav a {
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
