@import "./utilities/variables";
@import "./base/reset";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/footer";
@import "./layout/mediaquerry/media-1648";
@import "./layout/mediaquerry/media-1200";
@import "./layout/mediaquerry/media-982";
@import "./layout/mediaquerry/media-768";
@import "./layout/mediaquerry/media-576";






.headerSecundario {
    width: 100%;
    height: 200px;

    div {
        a {
            margin: 20PX 5px;

        }
    }

}

.mainSecundario {
    width: 100%;
    height: 2400px;
    font-size: 20px;

    div {
        width: 100%;
        height: 300px;
        text-align: center;

        img {
            margin-top: 20px;
            width: 500px;
            height: 300px;
            border-radius: 8%;
        }
    }

    article {
        width: 100%;
        height: 500px;

        h1 {
            padding: 10px;
            margin-top: 40px;
            font-size: 50px
        }

        p {
            padding-top: 20px;
            font-size: 20px;
        }
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        margin-top: 700px;
        width: 100%;
        height: 400px;

        div {
            h2 {background-color:white;
                width: 170px;
                height: 40p;
                border: 3px solid black;
                border-radius: 20px;
                text-align: center;
                font-size: 40px;
            }

            .card {
                width: 400px;
                height: 520px;
                border: 3px solid black;
                border-radius: 20px;
                align-items:center;
                

                img {
                    width: 50%;
                    height: 50%;
                }

                div {
                    h5 {
                        padding: 20px;
                        font-size: 30px;
                    }

                    p {
                        text-align: justify;
                    }

                }

            }
        }
    }
}

.footerSecundario {
    width: 100%;
    height: 780px;
    text-align: center;
    padding-top: 100px;

    div {
        width: 100%;
        height: 200px;

        h2 {
            font-size: 40px;

        }

    }

    nav {
        width: 100%;
        height: 200px;

        a {
            font-size: 30px;
        }
    }
}