
@media (max-width:1648px) {
    .gridMain {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "artImg secLore2"
            "navLink secLore"
            "navLink secLore"

        ;
    }
}
