footer {
    height: auto;
}

.contactos {
    padding-top: 40px;
}

.contactos h2 {
    margin: top 100px;
    ;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px 10px;
    background-color: white;
    color: black;
    text-align: center;

}




.nabRedes {
    font-size: 24px;
    height: 80px;
    margin-top: 100px;
    text-align: end;
    text-decoration: none;
}

.fooIns {
    width: fit-content;
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fooFac {
    width: fit-content;
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    color: black;
    text-decoration: none; 
}

.fooWha {
    width: fit-content;
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    color: black;
    text-decoration: none;
}